.pagination{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.paginationButton{
    display: flex;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    border: 1px solid var(--slate-200, #E2E8F0);
    background: var(--white, #FFF);
    cursor: pointer;
}
.paginationLink{
    display: flex;
    width: 48px;
    height: 48px;
    padding: 12px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 32px;
    background-color: #FFF;
    color: #020202;
    font-weight: 500;
    border: 1px solid var(--slate-200, #E2E8F0);
    background: var(--white, #FFF);
    cursor: pointer;
}
.paginationLink:hover{
    background: rgba(245, 158, 11, 0.1);
}
.paginationActive{
    background: var(--amber-500, #F59E0B);
    color: #FFF;
}
.paginationButton:hover{
    background: rgba(245, 158, 11, 0.1);
}