.ConceptModelOverlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}
.ConceptModelWindow{
    display: flex;
    width: 512px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 12px;
    background: var(--white, #FFF);
}
.ConceptModelWindow .headline{
    display: flex;
    padding: 24px;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
    border-bottom: 1px solid var(--slate-200, #E2E8F0);
}
.ConceptModelWindow .headline h2{
    flex: 1 0 0;
    color: var(--slate-900, #0F172A);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.ConceptModelWindow .details{
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}
.ConceptHeadlineInput{
    align-self: stretch;
    color: var(--slate-500, #64748B);
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.ConceptInputsGroup{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
}
.ConceptInput {
    width: 100%;
    display: flex;
    padding: 20px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border-radius: 6px;
    border: 1px solid var(--slate-200, #E2E8F0);
    background: var(--white, #FFF);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: var(--slate-900, #0F172A);
}
.understandingInput {
    width: 100%;
}
.understandingInput input{
    width: 90%;
}
.understanding{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    width: 100%;
}
.addAnotherUnderstanding{
    padding: 20px;
    align-items: center;
    align-self: stretch;
    border-radius: 6px;
    background: var(--amber-100, #FEF3C7);
    border: none;
    color: var(--amber-500, #F59E0B);
    text-align: center;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    cursor: pointer; 
}
.conceptFooter{
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
    border-top: 1px solid var(--slate-200, #E2E8F0);
}